frameset {
    border: 0 none;
}

p, body {
    color: black;
    margin-left: 4%;
    margin-right: 4%;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, serif, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    background: white url(tux_transparent.gif) no-repeat fixed right bottom;
}

.warn {
    color: #e24912;
    background: white;
    margin-left: 4%;
    margin-right: 4%;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, serif, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
}

a:link {
    background: white;
    color: blue;
}

a:visited {
    background: white;
    color: blue;
}

a:active {
    background: white;
    color: green;
}

h1 {
    color: black;
    background: white;
    font-weight: bold;
    margin-left: +6%;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.blau {
    color: #000099;
    background: white;
    font-weight: bold;
    margin-left: +6%;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

address {
    background: white;
    color: black;
    font-style: italic;
    margin-left: +3%;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
}

.mittig {
    background: white;
    color: black;
    font-style: italic;
    margin-left: +3%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

hr {
    width: 85%;
    line-height: 2px;
    text-align: center;
}

li {
    margin-left: +6%;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
}

ul {
    font-size: 12px;
    line-height: 18px;
    list-style-image: url("li.gif");
    margin-left: -2%;
}

td, tr {
    vertical-align: top;
    text-align: center;
}

img {
    text-align: center;
}
