<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="https://www.aiki-it.de/sw/ixus/"
    href="$outputFile">
  <information>
    <icon
      width="55"
      height="36"
      href="logo.png"/>
    <icon
      kind="splash"
      href="logo.png"/>

    <title>Bildbearbeiter - FotoRenamer</title>
    <vendor>AIKI IT Berlin</vendor>
    <homepage href="https://www.aiki-it.de/sw/ixus/"/>
    <description kind="one-line">FotoRenamer - rename your camera images photographs automatically.</description>
    <description kind="short">This helper renames your files according to
        their EXIF-creation date.</description>
    <description kind="tooltip">Rename your photographs according to their date of
        creation.</description>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.4+"
     initial-heap-size="32m"
     max-heap-size="128m"
     />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
  </application-desc>
</jnlp>
